@{
    ViewData["Title"] = "Privacy Policy";
    @model ClienteModel
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="row">
    <div class="display-4">
        <label for="nombre">El Nombre es:</label> @Model.Nombre
        <br />
        <label for="nombre">El Apellido es:</label> @Model.Apellido
        <br />
        <label for="nombre">La edad es:</label> @Model.Edad
        <br />
    </div>

    <div class="row">
        <div class="container-fluid">
            <form action="/Home/Index" method="post">
                <h1>Ingreso de Clientes</h1>
                <div class="col-lg-3">
                    <label>Cedula</label>
                    <input type="text" class="form-control" name="cedula" value="@Model.Cedula_RUC" placeholder="Ingrese su CI" />
                </div>

                <div class="col-lg-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" placeholder="Ingrese su nombre" />
                </div>

                <div class="col-lg-3">
                    <label>Apellido</label>
                    <input type="text" class="form-control" name="Apellido" value="@Model.Apellido" placeholder="Ingrese su apellido" />
                </div>

                <div class="col-lg-3">
                    <label>Edad</label>
                    <input type="text" class="form-control" name="Edad" value="@Model.Edad" placeholder="Ingrese su edad" />
                </div>

                <div class="col-lg-3">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>



